body {
  display:flex;
  margin-top: 150px;
  height: 550px;
  width: 100%;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  color: #FFFFFF;
  font: 40px "Source Sans Pro";
  background-color: #d47f00;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}