.profile {
  display:flex;
  flex-direction:column;

  margin-top: 120px;
  color: #FFFFFF;
  font: 40px "Source Sans Pro";
  background-color: #d47f00;
  background-image: url("https://www.transparenttextures.com/patterns/az-subtle.png");

 
} 

@media only screen and (min-width: 1024px) {
  .profile {
    width: 33.3%;
    float: left;
    margin-top: 300px;
  }
}